<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--异常日志-->
  <appender name="exclog" type="log4net.Appender.RollingFileAppender">
    <!--定义文件存放位置-->
    <file value="exclog\\"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd'.txt'"/>
    <staticLogFileName value="false"/>
    <param name="MaxSizeRollBackups" value="100"/>
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <!--输出格式-->
      <conversionPattern value="%date:%message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Fatal" />
      <param name="LevelMax" value="Fatal" />
    </filter>
  </appender>
  <logger name="PosServiceLogger">
    <level value="ALL" />
    <appender-ref ref="exclog"/>
  </logger>
</log4net>