<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="ConnStr" connectionString="data source=192.168.104.2;database=Storev8;uid=sa;password=123@123.com" providerName="System.Data.SqlClient"/>
    <!--
    <add name="ConnStr" connectionString="data source=192.168.0.95;database=Storev8;uid=sa;password=2011dapeng2011" providerName="System.Data.SqlClient"/>
-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" >

    </compilation>
    <!--
      通过 <authentication> 节可以配置
      安全身份验证模式，ASP.NET 
      使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Windows" />
    <!--
       如果在执行请求的过程中出现未处理的错误
       则通过 <customErrors> 节
       可以配置相应的处理步骤。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
  </system.web>

</configuration>
